<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>덕멋 인스타그램</h1>
    <a href="{% url 'posts:create' %}">글 작성하기</a>
    <hr>
    <form action="{% url 'posts:result' %}" method="GET">
        <input type="text" name="keyword">
        <button type="submit">검색</button>
    </form>
    <br>
    {% for post in posts %}
        <div>
            <h2><a href="{% url 'posts:detail' post.id %}">{{ post.title }}</a></h2>
            <p>{{ post.content }}</p>
            <p>조회수 : {{ post.views }}</p>
            <p>작성일 : {{ post.created_at|date:"Y년 m월 d일 H:i" }}</p>
        </div>
        <hr>
    {% empty %}
     <p>게시글이 없습니다.</p>
    {% endfor %}
</body>
</html>