<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에브리타임</title>
</head>
<body>
    <a href="{% url 'posts:category_list' 'secret' %}">비밀게시판</a>
    <a href="{% url 'posts:category_list' 'freshman'%}">새내기게시판</a>
    <a href="{% url 'posts:category_list' 'free'%}">자유게시판</a><br>

    {% if request.user.is_authenticated %}
        nickname : {{ request.user.nickname }}<br />
        <a href="{% url 'accounts:mypage' %}">마이페이지</a>
        <a href="{% url 'accounts:logout' %}">로그아웃</a><br>
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a>
        <a href="{% url 'accounts:signup' %}">회원가입</a><br>
    {% endif %}<hr>

    {% for ctg in category_posts %}
        <h2><a href="{% url 'posts:category_list' ctg.category.slug %}">{{ ctg.category.name }}</a></h2>
        {% for post in ctg.posts %}
            <a href="{% url 'posts:detail' post.id %}">{{ post.title }}</a><br>
        {% empty %}
            <p>게시글이 없습니다.</p>
        {% endfor %}
        <hr>
    {% endfor %}


</body>
</html>