<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에브리타임</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        nickname : {{ request.user.nickname }}<br />
        <a href="{% url 'accounts:mypage' %}">마이페이지</a>
        <a href="{% url 'accounts:logout' %}">로그아웃</a><br><hr>
        <br>
        <form method="POST" action="{% url 'posts:create' %}">
            {% csrf_token %}
            <input type="text" name="title" placeholder="제목 입력"><br>
            <textarea name="content" placeholder="본문 입력"></textarea>
            <br>
            <label><input type="checkbox" name="is_anonymous">익명</label> 
            <button type="submit">작성 완료</button>
        </form>
        
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a>
        <a href="{% url 'accounts:signup' %}">회원가입</a>
    {% endif %}
    <br><hr>

    {% for post in posts %}
        <h2><a href="{% url 'posts:detail' post.id %}">{{ post.title }}</a></h2>
        <p>{{post.content}}</p>
        <p>{{post.created_at}}</p><hr>
    {% empty %}
        작성된 글이 없습니다.
    {% endfor %}  


</body>
</html>